<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Título</ion-label>
  <ion-input [(ngModel)]="document.data.titulo"></ion-input>

  <ion-label>Descripción</ion-label>
  <ion-input [(ngModel)]="document.data.descripcion"></ion-input>

  <ion-button *ngIf="accionInsertar==false" (click)="clicBotonBorrar()">Borrar tarea</ion-button>
  <ion-button *ngIf="accionInsertar==false" (click)="clicBotonModificar()">Modificar tarea</ion-button>
  <ion-button *ngIf="accionInsertar==true" (click)="clicBotonInsertar()">Añadir tarea</ion-button>

</ion-content>
